@import "./_variables";

.App {
    height: 100vh;
    width: 100vw;

    .App-header {
        padding: $unit;
        background-color: $color-blue;
        font-size: $font-size;
        text-transform: uppercase;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 60px;
        }
    }
}
