@import "./_variables";

.ContactInformation {
    width: 30%;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 32px;

    &__header {
        border-bottom: 1px solid $color-blue;
        color: $color-blue;
        padding: $unit / 2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin: 0;
        }

        a {
            background: $color-white;
            color: $color-blue;
            border: 1px solid $color-blue;
            font-size: $font-size;
            border-radius: 20px;
            padding: $unit / 2 $unit;
            text-decoration: none;
            transition: all 0.7s;

            &:hover {
                background: $color-blue;
                color: $color-white;
            }
        }
    }

    &__data {
        width: 100%;

        td {
            width: 50%;
            padding: $unit / 2;

            a {
                text-decoration: none;
                color: $color-blue;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $color-blue;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all 0.3s;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
