@import "./_variables";

.SearchForm {
    width: 30%;
    min-width: 500px;
    margin: 0 auto;

    fieldset {
        border-radius: 4px;
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            border: none;
            font-size: $font-size;
        }
    }

    button {
        background: $color-white;
        color: $color-blue;
        border: 1px solid $color-blue;
        font-size: $font-size;
        border-radius: 20px;
        padding: $unit / 2 $unit;
        margin-top: $unit;
        transition: all 0.7s;

        &:hover {
            background: $color-blue;
            color: $color-white;
        }
    }
}
