@import "./_variables";

.UserList {
    width: 30%;
    min-width: 500px;
    height: 500px;
    margin: $unit * 2 auto;
    list-style-type: none;
    padding: 0 $unit;
    overflow: scroll;

    &__item {
        a {
            text-decoration: none;
            padding: $unit / 2;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: $color-blue;
                transform: scaleX(0);
                transform-origin: center;
                transition: all 0.3s;
            }

            &:hover {
                color: $color-blue;

                &::after {
                    transform: scaleX(1);
                }
            }
        }
        img {
            height: 18px;
        }
    }
}
